<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpErrors errorMode="Custom" existingResponse="Auto">
        <remove statusCode="500" subStatusCode="30" />
        <error statusCode="500" subStatusCode="30" path="F:\_WebSites\DEMO_Apps\Accounting\host-start-error.html" responseMode="File" />
        <remove statusCode="502" subStatusCode="5" />
        <error statusCode="502" subStatusCode="5" path="F:\_WebSites\DEMO_Apps\Accounting\host-start-error.html" responseMode="File" />
      </httpErrors>
      <aspNetCore processPath=".\AccountingDemo.Host.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
</configuration>
